<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../static/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="../static/bower_components/leaflet-sidebar/src/L.Control.Sidebar.css" />
    <link rel="stylesheet" href="../static/bower_components/Leaflet.EasyButton/src/easy-button.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css static/informal-routerc.css -->
    <link rel="stylesheet" href="../static/styles/informal-routr.css">
    <!-- endbuild -->

    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.png" />

</head>
<body>

<div id="sidebar"></div>

<div id="map"></div>

<div id="thank-you" class="leaflet-sidebar"></div>

<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>

<!-- build:js /dist/static/js/vendor.js -->
<!-- bower:js -->
<script src="../static/bower_components/jquery/dist/jquery.js"></script>
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../static/bower_components/showdown/dist/showdown.js"></script>
<script src="../static/bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="../static/bower_components/leaflet-dist/leaflet.js"></script>
<script src="../static/bower_components/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
<script src="../static/bower_components/Leaflet.EasyButton/src/easy-button.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Distance.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Layers.Load.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Permalink.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Permalink.Layer.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Permalink.Line.js"></script>
<script src="../static/bower_components/leaflet-plugins/control/Permalink.Marker.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/Icon.Canvas.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/Layer.Deferred.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/Marker.Rotate.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/Marker.Text.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/OpenStreetBugs.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/vector/GPX.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/vector/GPX.Speed.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/vector/KML.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/vector/OSM.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/tile/Google.js"></script>
<script src="../static/bower_components/leaflet-plugins/layer/tile/Yandex.js"></script>
<script src="../static/bower_components/leaflet.editable/src/Leaflet.Editable.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js  static/js/optimized.js -->
<script src="./static/js/informal-routr-main.js"></script>
<script src="./static/js/informal-routr-routes.js"></script>
<!-- endbuild -->


<script>

    var user_id = '{{ user_id}}';
    var config_id = '{{config_id}}';

    $( document ).ready(function() {

        jQuery.get('/cfg/' + user_id + '/' + config_id, function(data, status) {

            loadMarkdown("/static/md/info-" + config_id +".md", "#sidebar");
            loadMarkdown("/static/md/thanks-" + config_id + ".md", "#thank-you");

            console.log(data);

            var map = new L.Map('map', {

                center: new L.LatLng(
                        data.config.center.lng,
                        data.config.center.lat
                ),
                zoom: data.config.zoom,
                editable: true});

            var ggl = new L.Google('ROADMAP', { mapOptions: {styles : getStyles()}});
            map.addLayer(ggl);

            // add goal source icon

            marker = L.marker([data.config.destination.lng, data.config.destination.lat],
                    {'icon': L.icon({
                        'iconUrl':data.config.destination.icon,
                        'iconSize':[30, 34]
                    })}).addTo(map);

            sidebar = loadSidebar(map);
            loadEditTools(map);
            loadSaveAndClose(map);
//            loadUndoButton(map);
            loadInformal(map);
//            addCtrlZ(map);

        })
    });

</script>

</body>
</html>
